@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

.hero {
    height: 80vh;
    width: 100%;
    background:  url(../assets/img/background.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 110px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: rgb(48, 228, 254);
    transition: .3s;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
    height: 50vh;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.8rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-size: 1.375rem;
}

.content h1 {
    color: rgb(48, 228, 254);
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content h2 {
    color: #fff;
    width: 40%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.about {
    width: 100%;
    padding: 5.6rem 0px;
}

.about img {
    height: auto;
    width: 28.125rem;
}

.about .about-text {
    width: 25rem;
}

.main {
    width: 70.625rem;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8%;
    flex-wrap: wrap;
}

.about-text h1 {
    color: rgb(1, 107, 223);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.ifs {
    background: url(../assets/img/ifs-background.png);
    background-size: contain;
    background-position: center;
    padding: 5.625rem 0px;
}

.ifs img {
    width: 22rem;
    height: auto;
}

.ifs-text h1 {
    color: rgb(48, 228, 254);
    margin-bottom: 1rem;
}

.ifs-text p {
    color: #fff;
    width: 31.25rem;
}

.accuracy {
    width: 100%;
    padding: 5.625rem 0px;
}

.accuracy-text h1 {
    color: rgb(1, 107, 223);
    line-height: 45px;
    margin-bottom: 2.8rem;
}
.accuracy-text p {
    width: 31.25rem;
}

.accuracy img {
    width: 400px;
    height: auto;
    border-radius: 2.5%;
}
.cta {
    width: 100%;
    padding: 0px 0px 5.625rem 0px;
}
.cta .main{
    column-gap: 21%;
}
.cta img{
    width: 15.625rem;
    height: auto;
}
.cta h1{
    width: 31.25rem;
    padding-bottom: 2.2rem;
}
.cta a{
    background: linear-gradient(90deg, rgba(48,228,254,1) 0%, rgba(1,107,223,1) 100%);
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: #000;
    text-decoration: none;
    font-size: 1.375rem;
}
.cta a:hover{
    background: linear-gradient(90deg, rgba(1,107,223,1) 0%, rgba(48,228,254,1) 100%);
    transition: all 1s;
}
.signal {
    background: #021B3C url(../assets/img/signal-bg.png);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    padding: 5.625rem 0px;
}

.signal h1 {
    width: 100%;
    color: rgb(48, 228, 254);
}

.signal p {
    width: 80%;
    text-align: center;
    color: #f0eded;
    padding-top: 1rem;
}

.signal .main {
    column-gap: 21%;
    flex-direction: row;
}
.signal-text{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cost{
    padding: 5.625rem 0px;
    background: rgb(4, 20, 45);
}
.cost .main{
    flex-direction: row;
}
.cost-text{
    width: 35%;
    color: #fff;
}
.cost-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cost-column h1{
    color: rgb(48, 228, 254);
    width: 70%;
    padding-bottom: 2.5rem;
    margin-right: -45px;
}
.cost-column img{
    width: 21.875rem;
}

@media screen and (max-width: 425px) {
    nav .logo{
        display: none;
    }
    nav ul{
        display: none;
    }
    h1 {
        font-size: 2rem;
        line-height: 1.8rem;
        text-align: center;
    }
    
    h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
    }
    
    p {
        font-size: 1.375rem;
        text-align: center;
    }
    .hero{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content h1 {
        text-align: center;
    }
    
    .content h2 {
        padding-top: 2rem;
        text-align: center;
        width: 90%;
    }
    .about img {
        width: 15.625rem;
    }
    
    .about .about-text {
        width: 20rem;
        padding-top: 1rem;
    }
    .ifs img {
        display: none;
    }
    .ifs-text{
        padding: 0 1rem;
    }
    .ifs-text p{
        width: 23rem;
    }
    .accuracy img{
        width: 18.75rem;
        padding-top: 1.5rem;
    }
    .accuracy-text p {
        width: 24rem;
    }
    .cta img{
        width: 9rem;
    }
    .cta-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .cta h1{
        width: 100%;
    }
    .cta a{
        font-size: 1rem;
        padding: .8rem 1.5rem;
    }
    .signal-text{
        padding: .5rem 1.25rem 0 1.25rem;
    }
    .signal h1{
        width: 100%;
    }
    .signal p {
        width: 100%;
    }
    .cost-text{
        width: 100%;
        padding-bottom: 1rem;
    }
    .cost-column h1{
        width: 100%;
        margin-right: 0px;
    }
    .cost-column img{
        width: 18rem;
    }
  }